h1 {
    font-size: 24pt;
    font-weight: bold;
}

.tribute {
    text-align: center;
    margin: 0 auto; 
}

.tribute-words {
    max-width: 50%;
    margin: 0 auto;
}

.lyrics {
    text-align: center;
    max-width: 25%;
    margin: 0 auto;
}

.lyrics-title {
    text-align: center;
    margin: 0 auto; 
}